body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:60px;
    top:16px;
    width:256px;
    height:70px;
}

#u0_img {
    left:0px;
    top:0px;
    width:236px;
    height:58px;
}

.u1 {
    position:absolute;
    left:2px;
    top:27px;
    width:252px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../images/bunding/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:47px;
    top:105px;
    width:950px;
    height:80px;
}

#u2_img {
    position:absolute;
    width:956px;
    height:86px;
}

.u3 {
    position:absolute;
    left:2px;
    top:32px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_line {
    background-image: url('../images/bunding/u4_line.png');
}

.u4_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:24px;
}

.u4 {
    position:absolute;
    left:336px;
    top:37px;
    width:10px;
    height:24px;
    
}

.u5 {
    position:absolute;
    left:356px;
    top:37px;
    width:260px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:70px;
    top:126px;
    width:718px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:70px;
    top:156px;
    width:718px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../images/bunding/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:50px;
    top:206px;
    width:200px;
    height:40px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:206px;
    height:46px;
}

.u9 {
    position:absolute;
    left:2px;
    top:-5px;
    width:196px;
    height:21px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../images/bunding/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:260px;
    top:208px;
    width:200px;
    height:40px;
}

#u10_img {
  height: 44px;
    left: 0;
    position: absolute;
    top: -3px;
    width: 206px;
}

.u11 {
    position:absolute;
    left:2px;
    top:-5px;
    width:196px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../images/bunding/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:50px;
    top:246px;
    width:950px;
    height:360px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:366px;
}

.u13 {
    position:absolute;
    left:2px;
    top:172px;
    width:946px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../images/bunding/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:50px;
    top:626px;
    width:950px;
    height:100px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:956px;
    height:106px;
}

.u15 {
    position:absolute;
    left:2px;
    top:34px;
    width:946px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:88px;
    top:407px;
    width:77px;
    height:14px;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:168px;
    top:403px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18_normal {
    background-image: url('../images/bunding/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:371px;
    top:403px;
    width:136px;
    height:21px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:142px;
    height:27px;
}

.u19 {
    position:absolute;
    left:2px;
    top:4px;
    width:132px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:88px;
    top:493px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:168px;
    top:489px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:168px;
    top:438px;
    width:410px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:168px;
    top:458px;
    width:410px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:575px;
    top:339px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:655px;
    top:335px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#A1A1A1;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:575px;
    top:404px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:655px;
    top:400px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#A1A1A1;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28_container {
    position:absolute;
    left:70px;
    top:406px;
    width:16px;
    height:16px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u29 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_container {
    position:absolute;
    left:70px;
    top:492px;
    width:16px;
    height:16px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u31 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_container {
    position:absolute;
    left:557px;
    top:338px;
    width:16px;
    height:16px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u33 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_container {
    position:absolute;
    left:557px;
    top:403px;
    width:16px;
    height:16px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u35 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:579px;
    top:463px;
    width:329px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_container {
    position:absolute;
    left:557px;
    top:463px;
    width:13px;
    height:13px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:13px;
    height:13px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-2px;
    width:9px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../images/bunding/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:481px;
    top:541px;
    width:100px;
    height:32px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:38px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:88px;
    top:296px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:88px;
    top:339px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:168px;
    top:292px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#A1A1A1;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:168px;
    top:335px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:168px;
    top:366px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#A1A1A1;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u46_container {
    position:absolute;
    left:70px;
    top:338px;
    width:16px;
    height:16px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u47 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_container {
    position:absolute;
    left:70px;
    top:294px;
    width:16px;
    height:16px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u49 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:575px;
    top:298px;
    width:77px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:655px;
    top:294px;
    width:180px;
    height:21px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 12px;
    color:#999999;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52_container {
    position:absolute;
    left:557px;
    top:297px;
    width:16px;
    height:16px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u53 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:655px;
    top:367px;
    width:410px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_line {
    background-image: url('../images/bunding/u55_line.png');
}

.u55_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:214px;
}

.u55 {
    position:absolute;
    left:526px;
    top:292px;
    width:10px;
    height:214px;
    
}

