<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <resource-ref>
        <res-ref-name>jdbc/mysql</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>

    <listener>
        <listener-class>com.cdeledu.rad3.ibatis2.SqlMapperPool</listener-class>
    </listener>

    <servlet>
        <servlet-name>dispatchServlet</servlet-name>
        <servlet-class>com.devops.rad3.servlet.DispatchServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>*.shtm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dispatchServlet</servlet-name>
        <url-pattern>*.jswf</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>
        
        <jsp-property-group>
          <description>针对.html的配置.</description>
          <display-name>JSPConfiguration</display-name>
          <url-pattern>*.html</url-pattern>
          <el-ignored>true</el-ignored>
          <page-encoding>GBK</page-encoding>
          <scripting-invalid>false</scripting-invalid>
          <include-prelude></include-prelude>
          <include-coda></include-coda>
        </jsp-property-group>
    </jsp-config>
    
    <welcome-file-list>
        <welcome-file>index.shtm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page> 
    <error-code>404</error-code> 
    <location>/404.jsp</location> 
    </error-page> 
    <error-page> 
    <error-code>500</error-code> 
    <location>/500.jsp</location> 
    </error-page>
</web-app>